# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment files
.env

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# Mac & Linux
.DS_Store
